@page "/admin-login"
@inherits AdminLoginBase
@attribute [AllowAnonymous]
@layout NoNavLayout


<h3>Login Amministratore</h3>

<div>
    <EditForm Model="@LoginCredentials" OnValidSubmit="@Login">
        <DataAnnotationsValidator />
        <div class="form-label">
            <label for="username">Username</label>
        </div>
        <div class="form-text">
            <InputText id="username" @bind-Value="LoginCredentials.UserName"/>
        </div>
        <ValidationMessage For="@(() => LoginCredentials.UserName)" />
        <br />
        <div class="form-label">
            <label for="password">Password</label>
        </div>
        <div class="form-text">
            <InputText type="password" id="password" @bind-Value="LoginCredentials.Password"/>
        </div>
        <ValidationMessage For="@(() => LoginCredentials.Password)" />
        <br />
        <div class="btn">
            <button class="btn-primary" type="submit">Login</button>
        </div>
    </EditForm>
</div>
