@page "/"
@layout NoNavLayout

<PageTitle>ZoomOpera</PageTitle>

<h1>Benvenuto</h1>

<br />

<NavLink class="nav-link" href="platform-login" Match="NavLinkMatch.All">
    Login Piattaforme Monitor
</NavLink>

<br />

<NavLink class="nav-link" href="admin-login" Match="NavLinkMatch.All">
    Login Amministratori
</NavLink>

