@page "/strutture/{BuildingToModifyId:guid}/modifica-struttura"
@page "/strutture/aggiungi-struttura"
@attribute [Authorize(Roles = "Admin")]
@inherits ModifyBuildingBase

@if(ModifyOperation)
{
    <h3>Modifica Struttura</h3>
}    
else
{
    <h3>Aggiungi Struttura</h3>
}

<div>
    <EditForm Model="@ManagedBuilding" OnSubmit="@ManageRequest">
        <DataAnnotationsValidator />
         <label class="form-label" for="name">Nome Stuttura</label>
         <InputText id="name" @bind-Value="ManagedBuilding.Name"/>
         <ValidationMessage For="@(() => ManagedBuilding.Name)" />
         <br />
         <label class="form-label" for="Code">Codice Struttura</label>
         <InputText id="code" @bind-Value="ManagedBuilding.BuildingCode"/>
         <ValidationMessage For="@(() => ManagedBuilding.BuildingCode)" />
         <br />
         <button class="btn-primary" type="submit">Conferma</button>
    </EditForm>
</div>

