@page "/descrizione-dettagliata/{ImageMapId:guid}"
@inherits ViewOperaDetailsBase
@attribute [Authorize(Roles = "Admin, MonitorPlatform")]

<h2>Dettagli</h2>
<br />
<h3>@Details.Name: </h3>
<h3>@Details.DetailedDescription</h3>

